streamlit==1.32.2
langchain-community==0.0.29
langchain-text-splitters==0.0.1
langchain-huggingface==0.0.4
torch==2.2.2
faiss-cpu==1.8.0
rank-bm25==0.2.2
pdfplumber==0.11.0
requests==2.32.0
sentence-transformers==3.0.0
python-magic==0.4.27
tqdm==4.66.4
